 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>        
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="{{fullname}}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="cleartype" content="on" />
<link rel="shortcut icon" type="image/x-icon" href="img/intern/favicon.ico" />
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://code.jquery.com/jquery-1.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    {% for entry in navigation %}
    $("#{{entry.file}}").click(function(){
        $('#content').load('pages/{{entry.file}}.html');
    });
    {% endfor %}
});
</script>


<title>{{startpage.title}}</title>
</head>
    <body>
        <div id="wrapper">
            <div id="metanavigation">
                <a href="index.html">HOME</a>&nbsp;|&nbsp;
                <a href="http://www.kit.edu">KIT</a>
            </div>
            
            <div id="head">
                <div id="logo"><a href="http://www.kit.edu" title="KIT-Logo - Link zur KIT-Startseite"><img src="img/intern/kit_logo_V2_de.png" alt="KIT-Logo - Link zur KIT-Startseite"></a></div>
                <div id="head-image" style="background-image:url('img/logo.jpg')">
                    <div id="head-text" class="big_font">{{title}}</div><div id="head-text-corner">&nbsp;</div>                </div>
            </div>
            <div class="spacer"></div>
            <div id="container">
                <div id="left-row">
                    <div id="menu-box">
<ul>
    {% for entry in navigation|sort(attribute='order') %}
    <li class="li_level_1_not_selected" id="{{entry.file}}"><a class="level_1_not_selected" href="#">{{entry.title}}</a></li>
    {% endfor %}
</ul><br/> 
</div>
</div>


<div id="right-row">

{% if infobox is defined %}
<div class="infobox">
    <div class="infobox-inner">
        <div class="padding4"><b> </b></div>
        <h2>{{infobox.title}}</h2>
        <p>{{infobox.text}}</p>
        </div>
    </div>
{% endif %}

<div class="infobox">
    <div class="infobox-inner" style="padding-bottom: 8px;">
        <div class="infobox-normal">
        <span>
        <h2>{{fullname}}</h2>
        <p>
        Karlsruher Institut f&uuml;r Technologie<br />
        {{institute}}<br />
        {{campus}}, Geb. {{building}}<br />
        {{street}}<br />
        76131 Karlsruhe
        E-Mail: <a hre="mailto:{{mail}}">{{mail}}</a>
        Tel.: {{phone}}</p>
        </span>
        </div>
    </div>
</div>
            </div>
                <div id="middle-row">
                    <div id="content">
                        <a name="top" id="top"></a>

                        <a name="bottom" id="bottom"></a>
                    </div>
                </div>
                <div class="clear"></div>
                <div id="footer-container">
                    <div class="spacer"></div>
                    <div id="footer">
                        <div id="footer-corner"></div>
                        <div id="footer-text">
                            <div id="footer-content">
                                <a href="#top" class="footer-right"><img src="img/intern/totop.png" style="margin-top:6px" title="Nach oben" /></a>
                            </div>
                        </div>
                    </div>
                    <div id="owner">
                        <span id="owner-text" style="float:right; margin-right:31px">letzte Änderung: {{date}}</span>
                    <span id="owner-text">KIT – Die Forschungsuniversität in der Helmholtz-Gemeinschaft</span></div>
                </div>
            </div>
        </div>

    </body>
</html>
 
